{% extends "layout.html" %}
{% import "macros/images.html" as images %}

{% if pagination_number %}
{% block canonical %}/{{pagination_number}}/{% endblock %}
{% endif %}


{% block headline %}
    <h1>{{site_meta.site_name}}</h1>
{% endblock %}
{% block headclaim %}
    <h2>{{ site_meta.site_claim }}</h2>
{% endblock %}


{% block content %}


        {{ images.responsive_img_thumbnail_list(site_meta=site_meta, posts=posts, number_of_articles=site_meta.articles_on_homepage) }}

        {% if site_meta.pagination %}
        <nav aria-label="Pagination">
        <ul class="pagination justify-content-center">
            {% if not pagination_number %}
            <li class="page-item active"><a class="page-link" href="/">1</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="/">1</a></li>
            {% endif %}
            {% if pagination_numbers %}
            {% for pag in pagination_numbers %}
                {% if pag == pagination_number %}
                    <li class="page-item active"><a class="page-link" href="/{{pag}}/">{{pag}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/{{pag}}/">{{pag}}</a></li>
                {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
        </nav>
        {% endif %}

        <h2 class="text-center">Features</h2>
        <div class="row">
            
            <div class="col-xs-12 col-sm-12 col-md-6 mb-4">
                <div class="card>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">3 types of content</li>
                    <li class="list-group-item">Markdown for content</li>
                    <li class="list-group-item">Sitemap</li>
                    <li class="list-group-item">RSS Feed</li>
                    <li class="list-group-item">Twitter and Facebook Cards</li>
                    <li class="list-group-item">Tags for Posts</li>
                    <li class="list-group-item">Categories for Pages</li>
                    <li class="list-group-item">SEO</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 mb-4">
                <div class="card">
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">Pipenv Bundled</li>
                    <li class="list-group-item">Templating with jinja</li>
                    <li class="list-group-item">SASS Compiler</li>
                    <li class="list-group-item">Webmanifest</li>
                    <li class="list-group-item">Automated thumbnail generation</li>
                    <li class="list-group-item">Automated generation of diferent images sizes</li>
                    <li class="list-group-item">Automated generation of icons and favicon</li>
                    <li class="list-group-item">Standard CSS Framework is Bootstrap</li>
                    <li class="list-group-item">Critical CSS</li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock %}

