{% extends "layout.html" %}

{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{post.summary}}{% endblock %}
{% block canonical %}{{site_meta.posts_pre_slug}}/{{post.slug}}.html{% endblock %}
{% block image %}{{site_meta.domain}}/img/{{ post.img }}-{{site_meta.image_sizes[0]}}.jpg{% endblock %}

{% block content %}
    
    <h1>{{ post.title }}</h1>

    {% if post.img %}
    <picture>
        {% for size in site_meta.image_sizes %}
            <source media="(min-width:{{ size }}px)" srcset="/img/{{ post.img }}-{{size}}.jpg">
        {% endfor %}
        <img class="img-fluid img-thumbnail" src="/img/{{ post.img }}-{{site_meta.image_sizes[-1]}}.jpg" alt="{{ post.title }}" style="width:100%;">
    </picture>
    {% endif %}

    <small>{{ post.date }}</small>
    <p>
        {{ post.content }}
    </p>

{% endblock %}